* {
    box-sizing: border-box;
  }

h1 {
    background-color: blue;
    color: hsl(0, 0%, 0%);
    text-align: center;
    width:90%;
    margin-left: 5%;
}
main {
    margin:5%;
    width:90%;
    max-width: 960px;
   
   display:flex;
   flex-wrap: wrap;
   justify-content:right;
   border: 1px solid hsl(0, 0%, 100%);
}

div {
    width:6.25%;
    /* height:5px; */
    border: 1px dotted hsl(0, 0%, 50%);
    flex: 1 0 auto; 
    aspect-ratio: 1 / 1 ;
   
}
/*
div:hover {
    background-color: brown;
} */

p {
    margin:5%;
}

#grid {
    font-size: 1.5em;
    padding:0 0.5em;
    height: 2em;
    
}

.selectors {
    margin:0 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

form {
    margin-left:1em;
}